body {
    color: white;
    font-size: 35px;
    margin: auto;
    max-width: 35em;
    font-family:sans-serif;
    background-color: rgb(110, 227, 248);
}
p {
    text-align: auto;
    font-size: 30px;
  }
form {
    border-radius: .5em;
    max-width: 15em;
    grid-template-columns: 3em 10em;
    grid-row-gap: .3em;
    display: block;
    float: left;
}  