<!DOCTYPE html>
<title> {{ title }} </title>

<form action="{{ url }}" method="post">

    <h1> {{ question }} </h1>

    <img style='display:block; width: 800px;height:500px;' id='base64image' src='data:image/jpeg;base64, {{ image }}'>

    <input type="text" , name="answer">

    <input type="hidden" name="correct" value="{{ correct }}">

    <input type="hidden" name="right_answers" value="{{ right_answers }}">

    <input type="hidden" name="counter" value="{{ counter }}">

    <input type="submit" value="Arvaa">

</form>

<br>

<hr>
{% for scores in highscores %}
{{ scores.username }} Pisteet: {{ scores[1] }} / 10
<hr>
{% endfor %}